.pho-sho {
  background: url("../img/wallpapers-4k-black-wallpaper-lamborghini-huracan-lp-black-dark-4k-wallpaper-view-hd-background-images-hd-1080p.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.container {
  display: inline-block;
  width: 100%;
}

.title1 {
  font-size: 40px;
}

.title2 {
  font-size: 100px;
  margin-top: -50px;
  -webkit-margin-after: 30px;
}

.button {
  width: 300px;
  height: 40px;
  margin-bottom: 220px;
  font-size: 23px;
}

button:hover {
  background-color: rgb(189,212,54);
  cursor: pointer;
}

a:hover {
  border-bottom: 3px solid rgb(189,212,54);
}
