.pho-sho {
  background: url("../img/black3.jpg");
  background-size: contain;
}

.adjustfontcolor {
    color: white;
}

.image-size {
  height: 70%;
  width: 100%;
}

.container {
  margin: auto;
  width: 43vw;
}

.title {
  font-size: 35px;
}

.description {
  font-size: 18px;
}

a:hover {
  border-bottom: 3px solid rgb(189,212,54);
}
